<div>
    <div class="course_status">
        <div class="mod-name">
         {{#modules}}
            <ul>
             <li>
                <label id="mod-name">{{modid}} - <a href="{{mod_url}}" class="">{{modname}}</a> - {{modcreated}} {{completionstatus}}</label>
             </li>
            </ul>
         {{/modules}}
        </div>
    </div>
</div>